body{
	font-family: 'Roboto', sans-serif;
	color: #333;	
}

img{
	max-width: 100%;
	height: auto;
}

*{
	box-sizing: border-box; /* The star select all elements on the page and the property 
box-sizing: border-box, limits all boxes on the page to 100%, fixing conflicts in 
size and acting together in the _wrapper element overflow */
}

a{
	color: $mainOrange;
}