.row{
	/* This mixin is used to clear rows and fix them into the page, not letting content overflow each other */
	@mixin clearFix;
	
	&--gutters{
		padding-right: -65px; /* fixes the right padding of the text, together with overflow:hidden of the _wrapper, pushes the last column the right amount to the right */
	}
	
	&--gutters > div{
		padding-right: 65px;
	}
	
	&__b-margin-until-medium{
		margin-bottom: 1rem;
	}
	
	@mixin atMedium{
		
		&__b-margin-until-medium{
		margin-bottom: 0;
		}
		
		&__medium-4{
			float: left;
			width: 33.33%;
		}
		
		&__medium-4--larger{
			width: 37%;
		}
		
		&__medium-8{
			float: left;
			width: 66.66%;
		}
		
		&__medium-8--smaller{
			width: 63%;
		}
	}
	
}