.section-title{
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;
	
	@mixin atSmall{
		font-size: 3.75rem;
	}
	strong {
		font-weight: 500;
	}
	
	&__icon{
		display: block; /* makes the icon stay in a different line for small screens*/
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.6rem;
		
		@mixin atSmall{
			margin-right: .5rem;
			margin-left: 0;
			display: inline-block;/* makes the icon fall back into place on large screens */ 
			margin-bottom: 0;
		}
	}
}