.testimonial{
    background: rgba(255, 255, 255, .8);
    padding: 0 18px 1px 18px;
    margin-bottom: 98px; /* puts margin between the text and the next circle image on smaller screens */

    @mixin atMedium{
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
    }

    &--last{
        margin-bottom: 0;
    }

    &__photo{
        border-radius: 80px; /* half of the image px so it becomes a circle with the width and height property */
        overflow: hidden;
        width: 160px; /* the size of the image to create a round corner with border-radius*/
        height: 160px;
        margin: 0 auto -80px auto; /* put negative margin to compensate the negative position and drag the content closer*/
        position: relative;
        top: -80px;
        border: 6px solid rgba(255, 255, 255, .8);
    }

    &__title{
        color: $mainBlue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__subtitle{
        color: $mainOrange;
        text-align: center;
        font-weight: 400;
        font-size: 0.9375rem;
        margin: 0.25rem 0 1rem 0;
    }
}